.radio{
  display: flex;
  align-items: center;
  column-gap: 14px;

  &__input {
    &:not(:checked) + .radio__emulator::after{
      opacity: 0;
    }
  }


  &__emulator{
    @include flex-center;
    @include square(28px);


    position: relative;
    background-color: var(--color-light);
    border: var(--border);
    border-radius: 50%;
    transition: var(--transition-duration);
    @include hover{
      border: var(--border-accent);
    }

    &::after{
      @include abs-center;
      @include square(60%);

      content: '';
      background-color: var(--color-accent);
      border-radius: inherit;

      transition: var(--transition-duration);

    }
  }
}