@import 'normalize',
'variables',
'utils',
'mixins',
'media',
'globals',
'fonts';

@import
'blocks/field',
'blocks/radio',
'blocks/radios',
'blocks/button',
'blocks/grid',
'blocks/burger-button',
'blocks/header',
'blocks/cross-button',
'blocks/mobile-overlay',
'blocks/section',
'blocks/hero',
'blocks/service-card',
'blocks/services',
'blocks/puddle-bg',
'blocks/banner',
'blocks/studies',
'blocks/process',
'blocks/team',
'blocks/team-card',
'blocks/reviews',
'blocks/review-card',
'blocks/pagination',
'blocks/contact-us',
'blocks/soc1als',
'blocks/subscribe-form',
'blocks/footer';


